apiVersion: v1
kind: Namespace
metadata:
  name: sentinelone-pov
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentinelone-pov
  namespace: sentinelone-pov
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sentinelone-pov
  template:
    metadata:
      labels:
        app: sentinelone-pov
    spec:
      containers:
      - name: sentinelone-pov
        image: howiehowerton/sentinelone-pov:1.0
        command: ["sh", "-c", "echo SentinelOne POV running; sleep 3600"]